/*围绕在元素边框的空白区域是外边距。设置外边距会在元素外创建额外的“空白”。
设置外边距的最简单的方法就是使用 margin 属性，这个属性接受任何长度单位、百分数值甚至负值。*/

/*如果缺少左外边距的值，则使用右外边距的值。
如果缺少下外边距的值，则使用上外边距的值。
如果缺少右外边距的值，则使用上外边距的值*/

h1{
    background-color: orange;
    margin: 10px 20px 30px 200px;/*边距 上右下左 ,*/
}
h2{
    background-color: green;
    margin: 50px 100px;
}
