body{
    margin: 0px;
    overflow: auto;
}
.box{
    width: 100%;
    height: 1000px;
}
/* 导航栏 */
.navgation{
    margin-top: 10px;
    width: 80%;
    height: 20px;
    float: left;
}
/* 无序列表ul */
.head_ul{
    margin:0 0 0 40px;
}
.head_title_ul{
  margin:0px 0 0 120px; 
  position: relative;
  float: left;
  line-height: 60px;
}
/* li标签 */
.head_li{
    color: #838383;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    list-style-type:none;
    margin-left: 8px;
    display: inline;
}
.head_title_li{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    list-style-type:none;
    margin-left: 40px;
    display: inline;
}
.content_title_li{
    color: #838383;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    list-style-type:none;
    margin-left: 40px;
    display: inline;
}
/* 头部 */
.head{
    width: 100%;
    height: 40px;
    background-color:#262626;
    min-width: 1000px;
}
/* 登录按钮 */
.navgation_login_button{
    width: 20%;
    height: 20px; 
    margin-left: 5px;
    color: #838383;
}
/* 登录按钮div */
.login_div{
    width: 20%;
    height: 40px;
    float: right;
    line-height: 40px;
    background-color:#262626;
}
/* 头部主题 */
.head_title_div{
    width: 100%;
    height: 120px;
    float: left;
    margin:20px 0 0 0;
}
/* 主体内容 */
.content{
    background-color: bisque;
    width: 100%x;
    height: 80%;
    margin:180px 80px 0px 80px;
}
/* 主体标题 */
.content_head_div{
    width: 80%x;
    height: 80px;
    left: 20%;
    line-height: 80px;
}